@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#sobre {
  text-align: center;
}

body {
  padding-top: 80px;
  color: #fff;
  background-color: rgb(17, 17, 17);
  font-family: "Roboto", sans-serif;
}

#divBotao {
  padding-bottom: 20px;
  padding-left: 20px;
}

#tableNome {
  color: rgb(158, 159, 255);
  font-weight: bold;
}

#headerTable {
  color: lightgray;
  background-color: rgb(46, 32, 71);
}

#botao {
  background-color: rgb(46, 32, 71);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid rgb(32, 22, 48);
  border-radius: 20px;
}

#botao:hover {
  background-color: rgb(66, 46, 102);
}

#postForm {
  padding-left: 5px;
}
