.nome {
  color: #006eed;
}

#lista {
  padding-top: 80px;
  padding-left: 5px;
}

#sobre {
  padding-top: 50px;
  text-align: center;
}

#botao {
  padding-top: 80px;
}

body {
  color: #FFF;
  background-color: rgb(17, 17, 17);
}