html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#brandNome {
  color: lightgray;
}

.link {
  color: #fff;
}

.link:hover {
  color: rgb(158, 159, 255);
}